<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400, 600" rel="stylesheet">
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body><div class="header">
	  <div class= "title">
	  	<ul class= "nav">
	  	
	  	</ul>
	  </div>
    </div>
<div class="opening">
	<div class="image1">
    	<h1><%= yield %></h1>
    	</div>
    	
         </div>
    </div>

	<div class= "foot">
		<h3>Designed by Likelion.org 
		<br>All Rights Reserved.</h3>
	</div>
</body>
</html>


</body>
</html>
